<footer id="footer" class="container max-w-2xl mb-32 mx-auto" role="contentinfo">

  <div class="border-t border-solid border-gray-600 p-8 pt-12 mb-6">
    <p class="text-xl italic leading-tight mb-6">Join my biweekly newsletter where I deliberate on growth, discovery, creativity, and building a purposeful life you can be pumped about.</p>

      {% include 'components/newsletter-form.njk' %}

    <div class="m-auto flex justify-between items-center mt-6">
      {% include 'components/social-links.njk' %}
    </div>
  </div>
</footer>