<hr class="dl-divider dl-divider--dark">

<footer id="footer" class="container max-w-2xl mt-16 mb-32 mx-auto text-center" role="contentinfo">
  <p class="font-serif text-lg md:text-xl italic leading-tight mb-6">Join my sporadic newsletter where I deliberate on growth, discovery, creativity, and building the life you want.</p>

  {% include 'components/newsletter-form.njk' %}

  {% include 'components/social-links.njk' %}
</footer>