<footer id="footer" class="w-full max-w-6xl mx-auto mb-32 px-2 border-t border-solid divider-gray-300 " role="contentinfo">
  <div class="flex pt-1">
    <div class="w-1/2">
      <ul class="">
        <li class="">
          <a href="/contact/" class="text-purple-700 font-bold">Book a call</a>
        </li>
        {% for site, link in site.social_links %}
          <li class="">
            <a href="{{ link | safe }}">
              {{ site }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="w-1/2 text-right font-mono font-sm text-coolGray-400">
      © 2020
    </div>
  </div>
</footer>