<header id="header" class="p-4 pr-8" role="banner">
  <nav id="nav" class="flex flex-row flex-wrap justify-between mobile-nav items-center">
    {% include "components/logo.njk" %}
    {% include 'components/nav.njk' %}
  </nav>
</header>