<ul class="flex flex-col md:flex-row list-none justify-center m-0 mt-8">
  <li class="mx-2">
    <a href="/contact/">Contact</a>
  </li>
  {% for site, link in site.social_links %}
    <li class="mx-2">
      <a href="{{ link | safe }}">
        {{ site }}
      </a>
    </li>
  {% endfor %}
</ul>