<ul class="flex justify-center">
  {% for site, link in site.social_links %}
    <li class="mx-2">
      <a href="{{ link | safe }}" class="">
        {{ site }}
      </a>
    </li>
  {% endfor %}
</ul>
