/*===================================

    TYPOGRAPHY

===================================*/

/* FONT DEFINITIONS */
@font-face {
  font-family: "HKGrotesk";
  src: url("../../../fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../../../fonts/HKGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../../../fonts/HKGrotesk-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL TYPOGRAPHIC DEFAULTS */
body {
  @apply font-sans text-brand-darkblue;
}


/* RAW ELEMENTS */
h1 {
  @apply text-4xl font-extrabold my-8 tracking-tight;
}
h2 {
  @apply text-2xl my-8;
}
p,
ul,
ol {
  @apply text-lg mb-6;
}
ul,
ol {
  @apply ml-8;

  @media (min-width: theme('screens.sm')) {
    @apply ml-0;
  }
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}
a {
  @apply border-b border-solid border-brand-darkblue;
  transition: 0.1s all ease-out;

  &:hover,
  &:active {
    @apply border-0 bg-brand-primary-hover-faded;
  }
}
em {
  @apply italic;
}
strong {
  @apply font-bold;
}
blockquote {
  @apply my-12 pl-8 pr-12 italic;
}


/* NICER TYPOGRAPHY */
.small-caps {
  @apply text-sm;
}
.no-hyphens {
  hyphens: none;
}