
//==========  Typography ==========//
a {
  transition: 0.1s color ease-out;

  &:hover,
  &:active {
    color: theme('colors.oof');
  }
}

article {
  h1 {
    hyphens: none;

    a {
      @apply border-0;

      &:hover {
        @apply underline;
      }
    }
  }
  h2 {
    @apply font-serif text-2xl font-bold mt-12 mb-4;
  }
  p,
  ul,
  ol {
    @apply font-serif text-2xl mb-8 leading-normal;
  }
  a {
    @apply border-b border-solid border-gray-900;

    &:hover {
      color: theme('colors.oof');
      border-color: theme('colors.oof');
    }
  }
  em {
    @apply italic;
  }
  strong {
    @apply font-bold;
  }
  blockquote {
    @apply my-12 pl-8 pr-12 italic;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  .small-caps {
    @apply text-xl;
  }
}