//
//========== FAQ ==========//
//

.faq {
  &__question {
    @apply font-light text-3xl mt-6 mb-6 leading-none;
  }

  &__answer {
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transform: translateY(4px);
    transform-origin: 0 0;

    .is-open > & {
      visibility: visible;
      height: auto;
      animation: slide-down .3s ease-in-out forwards;
    }
  }
}

.faq__question:hover {
  cursor: pointer;
}