
//==========  Header & Footer ==========//

header a,
footer a {
  @apply border-0 font-sans text-xs font-bold uppercase tracking-wider;

  @media (min-width: theme('screens.sm')) {
    @apply text-sm;
  }

  &:hover {
    @apply no-underline border-b border-solid;
    border-color: theme('colors.oof');
  }

  &.logo:hover {
    border: 0;
  }
}

footer {
  input[type='submit'] {
    &:hover {
      cursor: pointer;
    }
  }
}