/*===================================

    HEADER

===================================*/

.logo {
  @apply bg-gray-800 text-white;
  padding: 12px;
  border-radius: 24px;

  &:hover {
    @apply bg-gray-900 border-0;
  }
}

header a {
  @apply border-0 text-sm font-mono tracking-tight;

  &:hover {
    @apply no-underline font-bold border-b border-solid;
  }
}

.mobile-nav__toggle {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  margin-left: auto;
  cursor: pointer;
  margin-top: 5px;
}

.mobile-nav__toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.mobile-nav__toggle span:nth-child(1) {
  top: 1px;
}
.mobile-nav__toggle span:nth-child(2),
.mobile-nav__toggle span:nth-child(3) {
  top: 7px;
}
.mobile-nav__toggle span:nth-child(4) {
  top: 13px;
}
.mobile-nav.is-open .mobile-nav__toggle span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.mobile-nav.is-open .mobile-nav__toggle span:nth-child(2) {
  transform: rotate(45deg);
}
.mobile-nav.is-open .mobile-nav__toggle span:nth-child(3) {
  transform: rotate(-45deg);
}
.mobile-nav.is-open .mobile-nav__toggle span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-nav.is-open .nav-items {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid theme('colors.blue.900');
  animation: slide-down .3s ease-in-out forwards;

  li {
    display: block;
    text-align: center;
    margin: 0.25rem 0;
  }
}