---
layout: blank
permalink: 404.html
meta_title: 404 Page Not Found
title: Yup, you're lost
---

<main id="main" class="flex flex-1 flex-col mx-auto max-w-3xl">
  <div class="mt-0 mb-12 md:my-12">
    <figure>
      <img src="/images/site/404.jpg" title="Photo by Daniel Jensen on Unsplash">
    </figure>
  </div>

  <div class="mx-6 md:mx-12">
    <h1 class="mb-6">{{ title }}</h1>

    <p>But not like in an <em>existential</em> way. You're right where you need to be.</p>
    <p>You <em>are</em> lost in a "that page doesn't exist" kind of way though. You know, like a 404 error. 🙃</p>

    <p class="my-12">&rarr; <a href="/">Home</a></p>
  </div>
</main>
