---
layout: blank
permalink: 404.html
meta_title: 404 Page Not Found
title: Yup, you're lost
---

<main id="main" class="flex flex-1 flex-col mx-auto max-w-3xl">
  <div class="mt-0 mb-12 md:my-12">
    <figure>
      <img src="/images/site/404.jpg" title="Photo by Daniel Jensen on Unsplash">
    </figure>
  </div>

  <div class="mx-6 md:mx-12">
    <h1 class="dl-heading__secondary mb-6">{{ title }}</h1>

    <p class="dl-text__body">But not in an existential "omg my life has no meaning" kind of way. Your life has meaning. You are awesome. You <em>are</em> lost in a "that page doesn't exist" kind of way though. You know, like a 404 error. 🙃</p>

    <p class="my-12">&rarr; <a class="dl-text__body" href="/">Home</a></p>
  </div>
</main>
