---
layout: full
title: Coaching
meta_description: Discover coaching and what it can do for you
---

<section class="max-w-5xl mx-auto">
  <h1 class="dl-heading__primary mb-16">Coaching</h1>
  <p class="dl-text__body">Coaching is a holistic and powerfully transformative process designed to empower you to create the life you want, whatever you define that to be. Whether you have a career opportunity to navigate, a complicated relationship to untangle, new health and wellness goals to hit, or want to learn how to stay present and grounded despite life's ups and downs, coaching can help. You'll discover how to:</p>

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <ul class="dl-text__body mx-5 md:mx-12 m-0">
        <li>Be kinder to yourself and quiet your inner critic</li>
        <li>Trust yourself more deeply</li>
        <li>Find and grow a wellspring of courage and confidence</li>
        <li>Make decisions and have tough conversations with greater ease</li>
        <li>Gain clarity on what you truly feel and want</li>
        <li>Let go of arbitrary limits, constraints, and expectations</li>
        <li>Reduce your dependencies on others</li>
        <li>Slow down and be more present in the moment</li>
        <li>Discover new passions</li>
      </ul>
    </div>
    <div class="w-full md:w-1/2">
      <ul class="dl-text__body mx-5 md:mx-12 m-0">
        <li>Make more time for joy</li>
        <li>Start new relationships and strengthen existing ones</li>
        <li>Step forward to support the people in your life</li>
        <li>Navigate health goals or challenges</li>
        <li>Improve your communication and collaboration skills</li>
        <li>Find a state of flow more easily</li>
        <li>Redefine how you measure success</li>
        <li>Take on new responsibilities</li>
        <li>Earn raises, promotions, or awards</li>
        <li>Launch products or companies</li>
        <li>Find work that matters to you</li>
      </ul>
    </div>
  </div>
</section>

<hr class="dl-divider dl-divider--light">

<section class="max-w-5xl mx-auto">
  <h2 class="dl-heading__pretitle">Packages</h2>

  <p class="dl-text__body">I offer several coaching programs. Each includes:</p>

  <ul class="dl-text__body mx-5 md:mx-12">
    <li>Private sessions, held in person or over phone/video, twice a month for ~1 hour each</li>
    <li>Personalized coaching tailored to your unique needs, context, and goals</li>
    <li>Email or text support between sessions</li>
  </ul>

  <div class="flex flex-col md:flex-row my-16">
    <div class="dl-text__body font-bold w-full md:w-1/6 mb-4">For life</div>
    <div class="w-full md:w-4/6 md:pl-8 md:pr-16">
      <p class="dl-text__body mb-4">Unlock your full potential and create the life you want. Step into living with wholeness, purpose, and deep connection. Experience powerful listening and Co-Active strategies to get you moving forwards towards lasting change. Flexible time commitments from 3-6 months allow you to dive deep for insight and impact.</p>
      <p class="font-sans bg-green-100 text-green-900 py-3 px-4 mb-6 leading-snug"><strong>→ Limited time certification special!</strong> Only 3 slots remaining at a discounted rate.</p>
    </div>
    <div class="w-1/6 mt-0">
      <a href="https://calendly.com/dieterlimeback/" target="_blank" class="dl-button dl-button__primary">Book</a>
    </div>
  </div>

  <div class="flex flex-col md:flex-row my-16">
    <div class="dl-text__body font-bold w-full md:w-1/6 mb-4">For creative pros</div>
    <div class="w-full md:w-4/6 md:pl-8 md:pr-16">
      <p class="dl-text__body">Are you a deeply creative person or driven entrepreneur ready to step into your gift and bring it to the world? Find the courage and confidence to take the chances you've always wanted to. Learn how to own your vision, take feedback effectively, and feel inspired and focused. Write that novel, play that song, ship that code, build that company.</p>
    </div>
    <div class="w-1/6 mt-0">
      <a href="https://calendly.com/dieterlimeback/" target="_blank" class="dl-button dl-button__primary">Book</a>
    </div>
  </div>

  <div class="flex flex-col md:flex-row my-16">
    <div class="dl-text__body font-bold w-full md:w-1/6 mb-4">For tech leaders</div>
    <div class="w-full md:w-4/6 md:pl-8 md:pr-16">
      <p class="dl-text__body">Are you a senior contributor looking to grow influence and collaboration skills? Are you a newly-minted manager wanting to discover how to show up best for your team? Are you a senior leader looking to level up your ability to delegate, make hard decisions, and have tough conversations? Discover how coaching can help you develop your leadership and communication skills for maximum impact.</p>
    </div>
    <div class="w-1/6 mt-0">
      <a href="https://calendly.com/dieterlimeback/" target="_blank" class="dl-button dl-button__primary">Book</a>
    </div>
  </div>

  <p class="dl-text__body italic">Have something different in mind? I can tailor a program specific to your needs. <a href="/contact/">Contact me</a> for details.</p>
{# curious about logistical details like payment policies, late fees, location and scheduling coordination? --> policies #}
</section>

<hr class="dl-divider dl-divider--light">

<section class="max-w-5xl mx-auto">
  <h2 class="dl-heading__pretitle mt-16 mb-12">Frequently asked questions</h2>

  <div class="faq">
    <p class="faq__question">
      Who is coaching for?
    </p>
    <div class="faq__answer">
      <p>Coaching is for anyone. If you have a vision for an improvement you want to make, and the motivation to do something about it, coaching is for you.
      <p>The Co-Active coaching philosophy holds that people are capable of tremendous creativity, courage, and resourcefulness, and are capable of finding their own answers to whatever challenges they face. So while you may have become disconnected from them, inside you have all the skills necessary to build the life you want.</p>
    </div>
  </div>

  <div class="faq">
    <p class="faq__question">
      How long does coaching take to work?
    </p>
    <div class="faq__answer">
      <p>Coaching can work quickly, or slowly, or both.</p>
      <p>Many people start creating new awareness and initial change in a short period of time, and it's not uncommon to have light bulb moments. Coaching where something shifts for the client can happen inside a 10 minute conversation. However, coaching is best perceived as a process. To deeply understand, refine and sustain these changes and truly incorporate them into your life takes longer, on the order of months.</p>
      <p>In addition, while it's common to see effects of coaching during a session, it's also <em>between</em> sessions where a lot of change happens, as your mind, body, and spirit work to incorporate new perspectives and energy.</p>
    </div>
  </div>

  <div class="faq">
    <p class="faq__question">
      What's the difference between a coach and a mentor?
    </p>
    <div class="faq__answer">
      <p>Although <em>coach</em> and <em>mentor</em> are often used interchangeably, and they may share a conversational or facilitative approach, they're different in how they relate to you.</p>
      <p>A mentor directly advises. They bring substantial subject matter experience to the conversation, sharing hard-won expertise, wisdom, and personal opinions. Mentors typically act as though <em>they</em> have the answer, and it's their job to pass it on to you.</p>
      <p>A coaching relationship is more unbiased and objective. The coach doesn't need to possess any subject matter expertise, and instead proceeds primarily by listening, and by asking powerful questions to help you develop new awareness and insights. Coaches act as though <em>you</em> have the answer, and it's their job to help you connect to it.</p>
    </div>
  </div>

  <div class="faq">
    <p class="faq__question">
      What's the difference between coaching and therapy?
    </p>
    <div class="faq__answer">
      <p>While both are aimed at helping people make positive changes in their life, and there can be some overlap in style and approach, there are also important differences to consider.</p>
      <p>Therapists are licenced medical professionals and as such often work with people with substantial mental health issues, substance abuse problems, severe trauma, or another clinical condition. Therapists typically work with just the issue before them, focus on the <em>past</em> to uncover underlying causes for current behaviour, and seek to render a diagnosis.</p>
      <p>Coaches work with people who are largely functioning well but feel they're not reaching their true potential. Coaching is not diagnostic in nature and does not consider clients as deficient in any way. Instead, coaching helps clients identify their own goals and uncover obstacles or limiting beliefs which may be blocking them. Coaches work with the whole person, focus on the <em>present and future</em> rather than the past, and is action-based, placing emphasis on accountability and progress towards the client's goals.</p>
    </div>
  </div>

  <div class="faq">
    <p class="faq__question">
      What is Co-Active coaching?
    </p>
    <div class="faq__answer">
      <p>Co-Active is a philosophy and model for human development pioneered by the <a href="https://coactive.com/">Co-Active Training Institute</a> (CTI), the largest in-person coach and leadership training organization in the world. CTI's founders were among the initial pioneers in the coaching profession, their textbook is considered the definitive text on coach training programs worldwide, and CTI was the first organization accredited by the <a href="https://coachfederation.org/">ICF</a>.</p>
      <p>Based on scientific principles, the CTI model focuses on both being <em>and</em> doing, and fundamentally believes in the power of people to radically transform their own lives. <a href="https://coactive.com/about/what-is-coactive/">Learn more</a> at the CTI website.</p>
    </div>
  </div>
</section>