---
layout: full
title: Let's connect
meta_title: Contact
---

<div class="max-w-3xl mx-4 mt-16">
  <h1>{{ title }}</h1>

    <p>Have a question about coaching, or want to try a no obligation sample session? Book a free introductory call at a time that works for you.</p>
    <p class="text-center mt-8"><a href="https://calendly.com/dieterlimeback" target="_blank" class="dl-button dl-button__primary w-full md:w-auto">Schedule a call</a></p>

    <p class="mt-8">Or, reach out by completing the form below.</p>

    <div class="bg-blueGray-100 my-12 p-4 pb-1 md:p-8 md:pb-1">
      <form name="Contact" method="POST" data-netlify="true">
        <p class="dl-form-row">
          <label class="dl-form__label">Name</label>
          <input class="dl-form__input" type="text" name="name" />
        </p>
        <p class="dl-form-row">
          <label class="dl-form__label">Email address</label>
          <input class="dl-form__input" type="email" name="email" placeholder="you@example.com" />
        </p>
        <p class="dl-form-row">
          <label class="dl-form__label">Message</label>
          <textarea class="dl-form__input dl-form__textarea" name="message"></textarea>
        </p>
        <p class="dl-form-row">
          <span class="hidden md:inline-block w-1/4 ml-4 mr-4"></span>
          <button class="dl-button w-full md:ml-4 md:w-auto" type="submit">Send</button>
        </p>
      </form>
    </div>
</div>
