---
layout: full
meta_description: TODO
---

<section class="max-w-6xl mx-auto mt-24">
  <div class="ml-16 mr-32 mb-24">
    <h1 class="text-5xl font-extrabold tracking-tight leading-none no-hyphens">Hello! I'm Dieter. I help driven people unlock their creativity, discover their purpose, and work on what matters.</h1>
  </div>
  <div class="">
    <img src="/images/site/graffiti.png" alt="Messy graffiti" title="Photo by Mec Rawlings on Unsplash">
  </div>
</section>

<section class="max-w-6xl no-hyphens mb-32">
  <div class="mx-16 mt-16 mb-32">
    <div class="flex mt-12">
      <div class="w-1/2 mr-16">
        <h2 class="text-2xl font-bold my-6 leading-tight">We all want to show up at our best and have real impact.</h2>
        <p>But whether it’s at work, on projects or goals you’re passionate about, or with the people in your life, it’s so common to feel that something’s missing or holding us back.</p>

        <p>From early on, we’re told what the rules are. We’re trained to listen to other people’s definitions and expectations. Follow their vision, not ours. And then we internalize all this and form beliefs around it. It’s no wonder we end up disconnected from ourselves.</p>

        <p>How awesome would it be to see things differently, and discover powerful new ways of moving forwards? That’s what coaching can do.</p>
      </div>

      <div class="w-1/2 bg-blueGray-100 pl-8 pt-8 pb-6 pr-10">
        <h3 class="text-sm font-bold font-mono text-purple-700">Coaching can help you:</h3>
        <ul class="list-disc ml-4 mt-4 text-base leading-snug">
          <li class="mb-4">Gain clarity on what you truly want</li>
          <li class="mb-4">Quiet your inner critic and find your voice</li>
          <li class="mb-4">Discover your confidence, perseverence, and authenticity</li>
          <li class="mb-4">Transform how you show up for people and opportunities</li>
          <li class="mb-4">Get unblocked and create meaningful things</li>
          <li class="mb-4">Trust yourself more and set strong, healthy boundaries </li> 
          <li class="mb-4">Navigate complex situations and make difficult choices </li> 
          <li class="mb-4">Be more present or feel a sense of flow more often</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="text-2xl font-bold mb-0">Ready to craft a bold, intentional future for yourself?</p>
    <p class="text-coolGray-500">Book a free, no obligation call to learn more.</p>
    <p class="">
      <a href="/contact/" class="dl-button dl-button__primary">Contact</a>
    </p>
  </div>
</section>
