---
layout: full
description: Live and leadership coaching to help you thrive
---

<section class="">
  <h1 class="font-serif font-normal text-4xl md:text-6xl text-center tracking-tight leading-tight">
    Unlock your potential and create the life you want
  </h1>
  <h2 class="font-sans font-normal text-xl md:text-2xl text-center mt-6 mb-8 md:mb-16">Life and leadership coaching to help you thrive</h2>
</section>
<section class="mb-8 md:mb-16">
  <img src="/images/site/road.jpg" alt="" class="w-full">
</section>
<section class="xl:flex md:w-3/4 mx-auto">
  <div class="xl:w-5/12">
    <h2 class="dl-heading__secondary text-xl md:text-3xl md:w-3/4 mt-0">Want to live with more intention, authenticity, and joy?</h2>
  </div>
  <div class="xl:w-7/12">
    <p class="dl-text__body">Do you feel you're not reaching your full potential? Do you feel like something is missing, but can’t put your finger on what? Are you not in the driver's seat of your own life? Imagine if you could <strong>better align with what you truly value.<strong></p>

    <p class="dl-text__body">Is there something you want to achieve, but you feel blocked? Have you been wrestling with something for a while and aren’t making progress? Have you been stuck at a crossroads? Now's the time to <strong>get unstuck and moving forwards.</strong></p>

    <p class="dl-text__body">Do you want more fulfilling relationships? Are you proud of how you show up for people? Are you carrying an emotional burden you're ready to let go of? Discover how to <strong>deepen meaning and create powerful connection.</strong></p>

    <p class="dl-text__body">Book a free introductory call to find out what coaching can do for you.</p>
    <p class="mt-6">
      <a href="https://calendly.com/dieterlimeback/" target="_blank" class="dl-button dl-button__primary">Book a call</a>
      <a href="/coaching/" class="dl-text__body ml-4 md:ml-12">Learn more</a>
    </p>
  </div>
</section>

{# <section class="flex sm:flex-col md:flex-row my-24 bg-gray-100">
  <div class="p-8 sm:w-full sm:p-12 sm:pb-0 md:p-0 md:mt-12 md:ml-12 xl:ml-0 lg:w-5/12 xl:mt-0 xl:w-1/2">
    <img class="" src="/images/site/dieter.jpg" alt="Photo of Dieter">
  </div>
  <div class="p-8 sm:w-full sm:p-12 md:p-12 lg:w-7/12 xl:w-1/2 xl:p-16"> #}
<section class="flex flex-col lg:flex-row my-24 bg-gray-100">
  <div class="w-full p-0 sm:p-8 sm:pb-0 md:p-16 md:pb-0 lg:p-12 lg:pr-0 lg:w-5/12 xl:p-0">
    <img class="" src="/images/site/dieter.jpg" alt="Photo of Dieter">
  </div>
  <div class="p-8 w-full md:p-24 md:pt-12 lg:w-7/12 lg:p-12 lg:pb-8">
    <p class="dl-text__body">
      Dieter is a life and leadership coach who helps people courageously step outside their comfort zone, move closer to achieving their goals, and recognize the deep capacity for growth they have within themselves.
    </p>

    <p class="dl-text__body">
      He brings over 20 years of experience as a software designer, educator, and senior leader in the fast moving technology industry to his coaching practice, having helped highly creative individuals grow fulfilling careers, ambitious entrepreneurs reach the next level, and building high functioning teams in companies of all sizes.
    </p>

    <p class="dl-text__body">
      He's helped people wrestling with ambiguous problems, developed leadership potential in others to allow them to make better decisions and have tough conversations, fostered a sense of trust and belonging for group collaboration, and created safe spaces for innovation. He's also helped others recover from, and personally experienced, the not-so-nice side of modern life -- wrestling with unhealthy work/life balance and burnout, feeling stuck (with and without golden handcuffs), unhealthy workplace cultures and toxic managers, and the general sense of not feeling fulfilled or reaching your true potential.
    </p>

    <p class="dl-text__body">
      After a career spent growing individuals, as well as being married for 20 years and raising 2 teenage daughters, Dieter now believes that achieving results you can be proud of starts with knowing and connecting to your authentic self, and striving for a sense of deep fulfillment and wholeness.
    </p>

    <p class="dl-text__body">
      Want to meet and connect further? Book a free intro call today.
    </p>
    <p class="mt-12">
      <a href="https://calendly.com/dieterlimeback/" target="_blank" class="w-full md:w-auto dl-button dl-button__primary">Book a call</a>
    </p>
  </div>
</section>

<section class="text-center">
  <h2 class="dl-heading__pretitle">What people are saying</h2>
  <blockquote class="lg:w-3/4 xl:w-1/2 mx-auto">
    <p class="font-serif italic text-3xl tracking-tight leading-tight text-center mb-0 inline-block">"I can already tell coaching with you is going to make a wonderfully significant difference in how I move through the world."</p>
    <cite class="block font-serif not-italic text-lg text-right">-- SE, client</cite>
  </blockquote>
</section>