<!doctype html>
<html lang="en" class="min-h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %}{% if meta_title or title %} | {% endif %}{{ site.name }}</title>
  <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml">

  {% if hidden === true %}
    <meta name="robots" content="noindex,follow" />
  {% endif %}

  {# Include main.css if in development mode #}
  {% if helpers.environment == "development" %}
    <link rel="stylesheet" href="/css/main.css">
  {% else %}
    {# Else, use the minified css file for production #}
    <link rel="stylesheet" href="/css/main.min.css">
  {% endif %}

  {# Social meta tags and assets like fonts, favicons etc, should be last #}
  {% include "components/social-meta.njk" %}

  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.images.favicon.small }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.images.favicon.medium }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.images.favicon.large }}">
</head>

<body class="{{ body_class }} min-h-full">

  <a class="sr-only" href="#main">Skip to content</a>

  <div class="flex flex-col relative min-h-screen">

    {# Render content #}
    {{ content | safe }}

  </div>

  {# Include scripts #}
  {% if helpers.environment == "development" %}
    <script src="/javascript/main.js"></script>
  {% else %}
    <script src="/javascript/main.min.js"></script>
  {% endif %}

</body>
</html>
